extends layouts/default
include helpers/mixins

block variables
  - const title = "Index"

block content
  .banner.h-screen.w-screen
    header.header.js-header
      .container.mx-auto
        .header-inner
          nav.nav
            a.js-nav-item(href="#")
              span Missions
            a.js-nav-item(href="#")
              span Galleries
            a.js-nav-item(href="#")
              span Cosmos Tv
            a(href="#").logo
              img.logo-img.js-logo-img(src='img/logo.png' alt='logo')
            a.js-nav-item(href="#")
              span Downloads
            a.js-nav-item(href="#")
              span About
            a.js-nav-item(href="#")
              span Audiences
          .header-control
            button.btn-search.js-header-control
              +iconSvg('search')
            button.js-btn-mobile-menu.btn-mobile-menu.ml-4.js-header-control(class="lg:hidden")
              .burger
                .burger-bar.bar-top
                .burger-bar.bar-bot
    img.banner-cover(src="img/banner2.png", alt='cover')
    .banner-content
      .banner-content-inner
        h2.mb-16 we are cosmos
        button.bg-white.px-16.py-3.text-center.mx-auto.text-black.text-xl.font-thin.flex.item-center.justify-center.leading-none
          span.pt-1 JOIN US
block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")
